$red: red;
$fontLarge: 24px;
$fontSmall: 12px;
$paragraf: 'black';
$fontRoboto: 'Roboto', san-serif;
$fontNoue: 'Noe ', sans-serif;

// implementasi stylguide
$fontRedHeat: ' Red Hat Display', sans-serif;
$HeadingOneSize: 72px;
$HeadingOneLine: 80px;
$primaryBlack: #333333;
